.auth-container {
  max-width: 420px;
  margin: 80px auto;
  padding: 30px;
  background: #0f172a;
  border-radius: 12px;
  color: white;
  text-align: center;
}

.auth-form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

.auth-form button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.role-box button {
  width: 100%;
  margin: 10px 0;
  padding: 14px;
  border-radius: 8px;
  background: #1e293b;
  color: white;
  border: none;
  cursor: pointer;
}

.switch-text {
  margin-top: 15px;
}
