.home {
  height: 100vh;
  background: linear-gradient(135deg,#020617,#1e3a8a);
  color: white;
  text-align: center;
  padding-top: 120px;
}
.buttons a {
  margin: 20px;
  padding: 15px 30px;
  background: #22c55e;
  color: black;
  text-decoration: none;
  border-radius: 10px;
}
